<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>homePage</servlet-name>
        <jsp-file>/homePage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>homePage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>registrationPage</servlet-name>
        <jsp-file>/registration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrationPage</servlet-name>
        <url-pattern>/registrationPage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>signInPage</servlet-name>
        <jsp-file>/signIn.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>signInPage</servlet-name>
        <url-pattern>/signInPage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>startPage</servlet-name>
        <jsp-file>/startPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>startPage</servlet-name>
        <url-pattern>/startPage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userInfo</servlet-name>
        <jsp-file>/userInfo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>userInfo</servlet-name>
        <url-pattern>/userInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userBooks</servlet-name>
        <jsp-file>/userBooks.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>userBooks</servlet-name>
        <url-pattern>/userBooks</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>unavailablePage</servlet-name>
        <jsp-file>/unavailablePage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>unavailablePage</servlet-name>
        <url-pattern>/unavailablePage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userProfile</servlet-name>
        <jsp-file>/userProfile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>userProfile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>startPage.jsp</welcome-file>
    </welcome-file-list>
</web-app>